* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gayathri", sans-serif;
  color: white;
}

.gallery {
  position: absolute;
  z-index: 100;
  margin-top: 5%;
  height: 200vh;
}

.gallery img {
  width: 37vw;
  height: 70vh;
  min-width: 370px;
  min-height: 700px;
  display: block;
}

#img1 {
  float: right;
  margin-right: 5vw;
}

#img2 {
  float: left;
  margin-top: 150%;
  margin-left: 4vw;
}

#img3 {
  float: right;
  margin-top: 200%;
  margin-right: 5vw;
}

#img4 {
  float: left;
  margin-top: 250%;
  margin-left: 4vw;
}

.intro {
  height: 100vh;
  z-index: 0;
  position: relative;
}

.intro video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.info h1 {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 3vw;
  font-weight: bolder;
  color: white;
  transform: translate(-50%, -50%);
  margin-left: auto;
}

.info p {
  position: absolute;
  top: 15%;
  left: 25%;
  font-size: 1rem;
  font-weight: lighter;
  transform: translate(-50%, -50%);
}

section {
  height: 1vh;
  background-color: black;
}

section h1 {
  text-align: center;
  color: black;
  font-size: 1px;
}
