* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 5vw;
  color: white;
  transform: translate(-50%, -50%);
}

section {
  height: 100vh;
}

section h1 {
  text-align: center;
  padding-top: 10vh;
}
