* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gayathri", sans-serif;
  color: white;
}

html {
  background-color: black;
}

.intro {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery {
  position: absolute;
  height: 600vh;
  display: grid;
  /* grid-template-rows: 0.1fr 1.5fr 1.5fr 1.5fr 1.5fr; */
  grid-template-rows: 25vh 150vh 150vh 150vh 150vh;
  z-index: 100;
}

.gallery img {
  position: relative;
  height: 140vh;
  width: 80vw;
  min-height: 700px;
  min-width: 380px;
  padding: 5vw;
}

.gallery img:hover {
  opacity: 90%;
}

.space {
  width: 100vw;
}

#info {
  padding: 50px;
}

#img1 {
  float: right;
}

#img3 {
  float: right;
}
